/*--------head------------*/
.head {
  padding: 20px 0;
  color: black;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
  margin-left: 500px;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display:inline;
}
header li {
  margin-right: 40px;
  display: inline-block;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: black;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}

.toggle {
  display: none;
}
